.about__content--wrapper{
    display: flex;
    position: relative;
}

.about__content--wrapper .about__left{
    padding: 0px 40px 60px 9vw;
    background-color: var(--primary);
    text-align: justify;
    color: var(--text);
    flex: 0 0 34%;
    display: block;
    max-width: 32%;
}

.about__left .section__upper--title{
    font-size: .8rem;
    font-weight: 400;
    color: var(--text);
    text-align: left;
}

.about__left h2{
    margin-bottom: 30px;
}

.about__left p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.2px;
}

.about__left .btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.about__left .btn i{
    font-size: 1.4rem;
    margin-left: 10px;
}

.about__right{
    text-align: justify;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 25px;
    color: #5c5c5c;
    display: block;
    flex: 0 0 32%;
    width: 100%;
    max-width: 30vw;
}

.about__image{
    max-width: 32%;
    flex: 0 0 32%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.about__image figure{
    width: 100%;
    height: auto;
}

.about__image figure img{
    width: 100%;
    height: 100%;
}


/* Mission Vision and Values */
.mission__values{
    padding: 100px 0;
    background-color: var(--secondary);
    color: var(--text);
}

.mission__values .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 140px;
}

.mission__values .nav li{
    list-style: none;
}

.mission__values .nav li a{
    cursor: pointer;
    text-align: center;
    position: relative;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.mission__values .nav li a span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 10px;
}
.mission__values .nav li a.active span{
    color: var(--secondary);
    background-color: white;
}


.mission__values .tab-content{
    text-align: center;
}

.mission__values .tab-content h2{
    font-weight: 600;
    margin-bottom: 25px;
}
/* mission__values */


/* Principles */
.principles{
    padding: 100px 0;
}

.principles h2{
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 60px;
}

.principle__item{
    transition: all .4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 6px 50px -12px rgb(0 0 0 / 8%);
}

.principle__item:hover{
    transition: all .4s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.principle__item figure{
    transition: all .4s;
    margin-bottom: 30px;
}

.principle__item p{
    font-weight: 300;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    color: #5c5c5c;
}
/* Principles */


/* More Info */
.more__info{
    position: relative;
    width: 100%;
    height: 730px;
    margin-top: 100px;
    margin-bottom: 250px;
    background: url(https://fricoalimentos.com.br/wp-content/themes/frico-alimentos-2020/assets/images/about/qualidade.jpg) no-repeat;
    background-position: 100%;
    background-size: contain;
}
.more__info--item{
    position: absolute;
    display: flex;
    align-items: center;
    width: 600px;
    height: 640px;
    margin-top: 45px;
    padding: 40px;
    opacity: .96;
    border-radius: 20px;
    background-color: #e1101c;
}

.more__info--item p{
    font-size: 1.75rem;
    color: var(--text);
    text-align: center;
}
/* More Info */